@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans+Condensed:ital,wght@1,300&family=Playfair+Display:wght@400;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    height: auto;
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(#0F044C, #787A91);
    min-height: 100vh;
}

/* NAVBAR */
.navbar-nav {
    margin-left: auto;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: 300;
}   
#title{
    color:#EEEEEE;
    letter-spacing: 0.1rem;
}
#title .nav-link, .dropdown-item{
    font-weight: 200;
}
#title .nav-link:hover{
    color: #787A91;
}
.dropdown-menu{
    background: none;
}
.dropdown-item{
    color:#EEEEEE;
}
.dropdown-menu .dropdown-item:hover{
    background-color: #787A91; 
    color: #0F044C;
}