body {
  background-color: #082032;
  background-attachment: fixed;
  background-image: url("..Assets/bgwaves.png");
}
@media screen and (min-width: 800px) {
  a {
    color: white;
    text-decoration: none !important;
  }
  .event_title {
    text-align: center;
    list-style-type: none;
    margin: 6rem auto;
    overflow: hidden;
    background-color: #082032;
  }
  .event_title li {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 1vw 1vh;
    text-decoration: none;
    font-size: 2vw;
    font-family: "Poppins", sans-serif;
  }
  .event_title li:hover {
    background-color: #787a91;
  }
  .event_list {
    display: inline-block;
    padding: 1vw 1vh;
    text-align: center;
    margin: 2.5vw;
  }
  .event_list li:hover {
    background-color: #787a91;
  }

  .flip-card {
    text-align: center;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    font-family: "Open Sans Condensed", sans-serif;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    background-color: rgba(120,120,145,0.5);
    border: #787a91;
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: #ff4c29;
    color: white;
    transform: rotateY(180deg);
  }
}
@media screen and (max-width: 800px) {
  a {
    color: white;
    text-decoration: none !important;
  }
  .event_title {
    text-align: center;
    list-style-type: none;
    margin: "2.5vw";
    padding: 1vw;
    overflow: hidden;
    background-color: #082032;
  }
  .event_title li {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 1vw 1vh;
    text-decoration: none;
    font-size: 1.45vw;
  }
  .event_title li:hover {
    background-color: rgba(120,120,145,0.5);
  }
  .event_list {
    display: block;
    padding: 1vw 1vh;
    text-align: center;
  }

  .flip-card {
    text-align: center;
    background-color: transparent;
    width: auto;
    height: 300px;
    perspective: 1000px;
    background-color: rgba(120,120,145,0.5);
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    font-family: "Open Sans Condensed", sans-serif;
  }

  .flip-card:hover,
  .flip-card-inner:hover {
    transform: rotateY(180deg);
    background-color: rgba(120,120,145,0.5);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: #ff4c29;
    color: white;
    transform: rotateY(180deg);
  }
}
